body {
    background-color: hsl(256, 93%, 52%);
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.img-1 {
    flex: basis 50%;
    justify-content: space-around; 
    img {
        height: 450; 
        max-width: 450px;
    }
}

.img-2 {
    flex: basis 50%; 
    width: 100%;
    justify-content: space-around;
    img {
        height: 300; 
        max-width: 300px;
    }
}

.img-3 {
    flex: basis 50%; 
    width: 100%;
    justify-content: space-around;
    img {
        height: 250; 
        max-width: 250px;
    }
}

.button-1 {
    background-image: linear-gradient(to right, #f9ab01, #f9a100, #f99700, #f98d03, #f88308); 
    color: #FFFFFF; 
    padding: 7px 20px; 
    border: 0px; 
    border-radius: 20px;
}

.button-2 {
    background-image: linear-gradient(to right, #f9ab01, #f9a100, #f99700, #f98d03, #f88308); 
    color: #FFFFFF; 
    text-wrap: balance; 
    padding: 10px 40px; 
    margin: 20px 0px 0px 0px; 
    border: 0px; 
    border-radius: 30px;
}

.wrapper-1 {
    max-width: 30vw;
    margin-right: 50px;
}

.wrapper-2 {
    max-width: 30vw;
    margin-left: 50px;
}

.section-1{
    display: flex; 
    align-items: center;
    margin-bottom: 100px;
    white-space: nowrap;
    justify-content: space-between;
}

.section-2{
    align-items: center;
    flex-shrink: inherit;
    display: flex; 
    justify-content: center;
    margin: 0;
}

.section-3{
    align-items: center;
    text-align: center;
    font-size: 11px;
    margin: 60px; 
    display: inline-block;
    width: 100%;
}

.section-4{
    color: #ffffff;
    display: flex;
    display: make-me-fit;
    justify-content: center;
    gap: 10px;
}

.section-5{
    text-decoration: underline; 
    color:#ffffff; 
    display: flex; 
    flex-grow: 2; 
}

.section-6 {
    margin-right: 12px;
    font-size: 15px;
    text-decoration: none;
}

.section-7{
    display: flex;
    align-items: center;
}
a {
    color: white;
   }
   a:visited {
    color: white;
   }


.text-4 {
    font-size: 20px; 
    Font-family: monospace; 
    font-weight: thin; 
    margin: 0;
}

.text-5 {
    font-size: 25px; 
    margin: 0;
}

.text-6 {
    color: rgb(185, 183, 183); 
    font-size: 12px;
    margin-right: 10px;
}

.text-7 {
    color: rgb(185, 183, 183);
    font-size: 9px;
}
.text-13-Titles {
    font-weight: bold; 
    font-size: 18px;

}

.text-14-Paragraphs {
    font-weight: normal; 

}


